<html>
<head><title>SMS API Testing</title></head>
<body>
	<a href="/"><h1>SMS Microservice</h1></a>
    <h1>SMS Microservice API Testing</h1>
    <!-- <button id="btnSend">Send</button>
    <textarea id="sendMsg" name="getMsg" rows="4" cols="50">
    </textarea><br> -->
    <button id="btnGet">Get last sms received</button><br>
    <textarea id="getMsg" name="getMsg" rows="4" cols="50">
    </textarea>
    <script>
        const btnGet = document.querySelector('#btnGet');
        const getMsg = document.querySelector('#getMsg');
        btnGet.addEventListener('click',async  (e)=>{
            e.preventDefault();
            console.log('sent');
            getSms().then(result => {
                getMsg.innerHTML = result;
                console.log(result)
            });
        })

        async function getSms(){
            return fetch('http://localhost:4000/api')
                .then(response => response.json())
                .then(data => {
                    return data;
                });
        }

    </script>
</body>
</html>
