<html>
<head>
    <title>SMS API Testing</title>
	<link href="/style.css" rel="stylesheet">
</head>
<body>
    <div>
        <div>
            <a href="/"><h1>SMS Microservice</h1></a>
            <hr>
            <h3>SMS Microservice API Testing</h3>
        </div>
        
        <div class="send-message-layout">
            <div>
                <button class="full-size-button" id="btnGetLastSms"> Get last sms received</button><br>
                <input id="phoneNumber" placeholder="Phone number"></input><br>
                <textarea class='text-message'type="text" id="getMsg" placeholder="Text Message/s"></textarea>
            </div>
            <button class="btn-send" id="btnSendSms">Send</button>
            <button class="btn-read" id="btnReadMessages">Read Messages from: Phone number</button><br>
        </div>
    </div>

    <script>
        const url = 'http://sms.luxartem.ro'; // OR, for local development: http://localhost:4000
        const apiKey = 'ef1decb2a75ededa273bd5aea2ef1d0b8a042547dc5b96892a635f10081c0d4b257687f2290352591f7c9ad5fdb1c1cb1e263f02b8e5e65fe7b5835109af2a1a';
        const btnGetLastSms = document.querySelector('#btnGetLastSms');
        const btnReadMessages = document.querySelector('#btnReadMessages');
        const phoneNumber = document.querySelector('#phoneNumber');
        const btnSendSms = document.querySelector('#btnSendSms');

        btnSendSms.addEventListener('click', async(e)=>{
            e.preventDefault();
            if(phoneNumber.value && getMsg.value){
                await sendSms(phoneNumber.value,getMsg.value.substring(0,200)).then(result=>{
                    getMsg.value = result.success;
                    phoneNumber.value = '';
                });
            }
        })

        btnReadMessages.addEventListener('click',async  (e)=>{
            e.preventDefault();
            if(phoneNumber.value){
                console.log(phoneNumber.value);
                getSmsByNumber(phoneNumber.value).then(result=>{
                    console.log(result);
                    getMsg.value = result;
                })
            }
        });

        btnGetLastSms.addEventListener('click', async (e) =>{
            e.preventDefault();
            await getLastSms().then(result =>{
                console.log(result);
                getMsg.value = result;
            })
        })


        async function getLastSms(){
            return fetch(`${url}/api?last=true`)
                .then(response => response.json())
                .then(data => {
                    return data;
                });
        }

        async function getSmsByNumber(phoneNumber){
            return fetch(`${url}/api?phone=${phoneNumber}`)
                .then(response=> response.json())
                .then(data =>{
                    console.log(data);
                    return data;
                })
        }

        async function sendSms(phoneNumber, message){
            return fetch(`${url}/api?key=${apiKey}&phone=${phoneNumber}&text=${message}`,{method:'POST'})
                .then(response => response.json());
        }

    </script>

</body>
</html>
<!-- In the future, you may extend the functionality so that a user can read all it's correspondence based on the API KEY it uses-->
<!-- To do so you would need to implement an API KEY FIELD in the message FILE when they are created in the OUTGOING FOLDER-->
<!-- Doing this you can MONITOR how many sms were sent from a single API KEY -->