<html>
<head><title>SMS API Testing</title></head>
<body>
	<a href="/"><h1>SMS Microservice</h1></a>
    <h1>SMS Microservice API Testing</h1>
    <button id="btnSendSms">Send Message</button>
    <button id="btnReadMessages">Read messages</button>
    <input id="phoneNumber" name="getMsg" rows="4" cols="50">
    </input><br>
    <textarea id="getMsg" name="getMsg" rows="4" cols="50">
    </textarea><br>
    <button id="btnGetLastSms">Get last sms received</button>
    <script>
        const url = 'http://sms.luxartem.ro'; // OR, for local development: http://localhost:4000
        const apiKey = 'ef1decb2a75ededa273bd5aea2ef1d0b8a042547dc5b96892a635f10081c0d4b257687f2290352591f7c9ad5fdb1c1cb1e263f02b8e5e65fe7b5835109af2a1a';
        const btnGetLastSms = document.querySelector('#btnGetLastSms');
        const btnReadMessages = document.querySelector('#btnReadMessages');
        const phoneNumber = document.querySelector('#phoneNumber');
        const btnSendSms = document.querySelector('#btnSendSms');

        btnSendSms.addEventListener('click', async(e)=>{
            e.preventDefault();
            if(phoneNumber.value && getMsg.value){
                await sendSms(phoneNumber.value,getMsg.value.substring(0,200)).then(result=>{
                    console.log(result);
                });
            }
        })

        btnReadMessages.addEventListener('click',async  (e)=>{
            e.preventDefault();
            if(phoneNumber.value){
                console.log(phoneNumber.value);
                getSmsByNumber(phoneNumber.value).then(result=>{
                    console.log(result);
                    getMsg.value = result;
                })
            }
        });

        btnGetLastSms.addEventListener('click', async (e) =>{
            e.preventDefault();
            await getLastSms().then(result =>{
                console.log(result);
                getMsg.value = result;
            })
        })


        async function getLastSms(){
            return fetch(`${url}/api?last=true`)
                .then(response => response.json())
                .then(data => {
                    return data;
                });
        }

        async function getSmsByNumber(phoneNumber){
            return fetch(`${url}/api?phone=${phoneNumber}`)
                .then(response=> response.json())
                .then(data =>{
                    console.log(data);
                    return data;
                })
        }

        async function sendSms(phoneNumber, message){
            return fetch(`${url}/api?key=${apiKey}&phone=${phoneNumber}&text=${message}`,{method:'POST'})
                .then(response => response.json());
        }

    </script>
</body>
</html>
