<html>
<head>
	<title>SMS Microservice API</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div>
		<a href="/"><h1>SMS Microservice</h1></a>
		<hr>
		<h3>SMS Microservice Web Portal</h3>
	</div>
	<div class="send-message-layout">

		<div>
			<input type="text" id="phone" placeholder="Phone number"><br>
			<textarea class='text-message' type="text" id="text" placeholder="Text Message"></textarea>
		</div>
		<button class="btn-send" id="send">Send</button>
	</div>




	<script>
		const url = 'http://sms.luxartem.ro'; // OR, for local development: http://localhost:4000
		const phoneNumber = document.querySelector('#phone');
		const text = document.querySelector('#text');
		const send = document.querySelector('#send');

		send.addEventListener('click',(e)=>{
			e.preventDefault();
			sendSms(phoneNumber.value, text.value);
			phoneNumber.value = ''; 
			text.value = '';
			// fetch('http://localhost:4000/sms').then(res => console.log(res.json()));
		});

		async function sendSms(phoneNumber, text){
			try{
				console.log(phoneNumber, text, 'works');
				const response = await fetch(
					`${url}/sms`,{
						method: 'POST',
						headers: {'Content-Type':'application/json'},
						credentials: 'include',
						body: JSON.stringify({phone:phoneNumber, text:text})
					}
                    )
				}catch(err){
					console.log('caught error',err);
				}
		}
	</script>
</body>
</html>
